* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}


/* Root variables */

:root {
--fancyFont: 'Fraunces Variable', serif;
--DarkCyan: #3c8067;
--Cream: #f2ebe3;
--VeryDarkBlue: #1c232b;
--DarkGrayishBlue: #6c7289;
--White: #ffffff;
}

body {
  font-family: 'Montserrat Variable', sans-serif; 
  font-weight: 400;
  background-color: var(--Cream);
}

.main-content {
  max-width: 40rem;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 2em auto;
}

picture {
  max-width: 100%;
}

picture > img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 0 1.5em;
  display: grid;
  gap: .9375rem;
  padding: 2em 1em;
  place-content: center;
}

.card_title {
  font-family: var(--fancyFont);
  color: var(--VeryDarkBlue);
  font-weight: 700;
}

.card_ribbon {
  text-transform: uppercase;
  color: var(--DarkGrayishBlue);
  letter-spacing: .45em;
  font-weight: 500;
}

.card_product-info {
  line-height: 1.5;
  color: var(--DarkGrayishBlue);
  font-weight: 500;
}

.card_pricing {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  font-weight: 700;
}

.card_product-price {
  font-size: 2.5rem;
  font-family: var(--fancyFont);
  color: var(--DarkCyan);
}

.card-product-price--strike {
  text-decoration: line-through;
  color: var(--DarkGrayishBlue);
  font-weight: 500;
}

.card_addBtn {
  display: flex;
  gap: .625rem;
  padding: 1.25em 2em;
  width: 100%;
  place-content: center;
  background-color: var(--DarkCyan);
  font-family: inherit;
  border-radius: 7px;
  font-weight: 700;
  color: var(--White);
}


@media screen and (min-width: 41.25rem) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    gap: .9375rem;
    width: 100%;
  }

  picture {
    flex-basis: 50%;
  }

  .card-content {
    flex-basis: 50%;
    display: grid;
    gap: 1.25rem;
    place-content: center;
  }

  picture > img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    height: 100%;
  }
}